<h1> aidaround </h1>
<br/>
<div>
  your username is :<%= current_user.username %>
</div>
<div>
  you email is :<%= current_user.email %>
</div>
<div>
  your postcode is: <%= current_user.postcode %>
</div>