
@import "bootstrap-sprockets";
@import "bootstrap";
@import "tasks.css.scss";

// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;





#map {
  height: 400px;
}
#profilemap {
  height: 300px;
  width: 300px;
}
#taskmap {
  height: 300px;
  width: 100%;
}
#homemap {
  height: 500px;
  width: 100%;
}

/*#video {
  height: 400px;
  width: 100%;
}*/

