<!-- partial form for avator uploading -->
<div id ="new_avatar">
<% if current_user.avatar.nil? %>    
  <%= image_tag "https://s3.eu-west-2.amazonaws.com/aidaround-avatar-bucket/default_avatar/avad.png", width: '20%' %>
  <% else %>
  <%= image_tag current_user.avatar, width: '20%' %>
<% end %>
</div>
