<h1>Step 3</h1>
<h2>Great lets find your neighbourhood</h2>
<!-- form -->

<div id="task-form" style="display:none;"></div>

<!--  -->
<!-- <div id="address"></div> -->

<%= form_for(current_user, as: current_user, url: wizard_path) do |f| %>
  <div class="address">
    <%= f.text_field :postcode, placeholder: "Enter you post code", :id => "address" , :value =>''%>
  </div>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>

<!-- map -->

<div style='width: 800px;'>  
  <div id="map" style='width: 800px; height: 400px;'></div>  
</div>  


<script>
  $(document).ready(function () {

    var currgeocoder;

    //Set geo location lat and long
    navigator.geolocation.getCurrentPosition(function (position, html5Error) {
        geo_loc = processGeolocationResult(position);
        currLatLong = geo_loc.split(",");
        initializeCurrent(currLatLong[0], currLatLong[1]);
    });

    //Get geo location result
    function processGeolocationResult(position) {
        html5Lat = position.coords.latitude; //Get latitude
        html5Lon = position.coords.longitude; //Get longitude
        html5TimeStamp = position.timestamp; //Get timestamp
        html5Accuracy = position.coords.accuracy; //Get accuracy in meters
        return (html5Lat).toFixed(8) + ", " + (html5Lon).toFixed(8);
    }

    //Check value is present or
    function initializeCurrent(latcurr, longcurr) {
        currgeocoder = new google.maps.Geocoder();

        console.log(latcurr + "-- ######## --" + longcurr);

        if (latcurr != '' && longcurr != '') {
            //call google api function
            var myLatlng = new google.maps.LatLng(latcurr, longcurr);
            return getCurrentAddress(myLatlng);
        }
    }

    //Get current address
    function getCurrentAddress(location) {
        var el = document.getElementById("address");
        currgeocoder.geocode({
            'location': location
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                console.log(results[0]);
                // alert('long' + html5Lon + 'lat' + html5Lat);
                $("#address").html(results[0].formatted_address);
                el.value = results[0].formatted_address;
                userMap(html5Lat,html5Lon)
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
});
</script>





